/*
!/.config/dunst/*
!/.config/helix/*
!/.config/hypr/*
!/.config/kitty/*
!/.config/nvim/*
!/.config/rofi/*
!/.config/waybar/*
!/.config/wlogout/*
!/.config/yazi/*
!/.config/starship.toml
!.zshrc
!/scripts/*
!README.md
