* {
  border: none;
  font-family: "JetBrainsMono NF";
  font-size: 15px;
}

window#waybar {
  background-color: #000000;
}

#workspaces button {
  padding: 0px;
  margin: 4px 0 6px 0;
  color: #ffffff;
  min-width: 36px;
}

#workspaces button.active {
  margin: 4px 0 6px 0;
  background-color: #ffdead;
  color: #303030;
  min-width: 36px;
}

#workspaces button.urgent {
  color: red;
}

#custom-wmname {
  color: #1cb4ff;
  font-size: 22px;
}

#custom-warp.connected {
  color: #f48120;
}

#custom-warp.connecting {
  color: #ffd700;
  animation-name: blinker;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#custom-warp.disconnected {
  color: #ff0000;
}

@keyframes blinker {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

#battery {
  color: #4cbb17;
}

#battery.warning {
  color: #f08000;
}
#battery.critical {
  color: #ff0000;
}

#memory {
  color: #da70d6;
}

#memory.warning {
  color: #f08000;
}
#memory.critical {
  color: #ff0000;
}

#backlight {
  color: #f4c430;
}

#pulseaudio {
  color: #40b5ad;
}

#pulseaudio.muted {
  color: #dc143c;
}

#network {
  color: #00a36c;
}

#network.disconnected,
#network.disabled {
  color: #ff0000;
}

#clock {
  color: #ffdead;
}
