* {
  font-family: "JetBrainsMono NF";
  font-weight: bold;
  font-size: 14px;
}

window#waybar {
  background: rgba(0, 0, 0, 0);
  color: #cdd6f4;
}

tooltip {
  background: #1e1e2e;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #11111b;
}

#workspaces button {
  color: #313244;
}

#workspaces button.active {
  color: #a6adc8;
}

#workspaces button.focused {
  color: #a6adc8;
  background: #eba0ac;
}

#workspaces button.urgent {
  color: #11111b;
  background: #a6e3a1;
}

#workspaces button:hover {
  background: #11111b;
  color: #cdd6f4;
}

#window,
#clock,
#battery,
#pulseaudio,
#workspaces,
#tray,
#memory,
#backlight {
  padding: 0px 10px;
}

#workspaces {
  padding-bottom: 7px;
  border-width: 0px 0px 0px 0px;
}

#backlight {
  margin-top: 5px;
}
