* {
  bg0: #291f3a;
  accent1: #ff7eb6;
  fg0: #e0e0f0;
}

window {
  background-color: @{bg0};
  border: 2px solid @{accent1};
  border-radius: 12px;
  padding: 10px;
}

element {
  text-color: @{fg0};
}

element selected {
  background-color: @{accent1};
  text-color: @{fg0};
}

